{% extends "base.html.twig" %}

{% block title %} Question: {{ question }}{% endblock %}

{% block body %}
<title>{{ question }}</title>
<h1>{{ question }}</h1>
<div>
        Eventually we now can print the question and answers here:
        <h1>Answers ({{ answers | length }})</h1>
        {% for answer in answers %}
                <ul type="diamond">
                        <li>
                                {{ answer }}
                        </li>
                </ul>
        {% endfor %}
</div>
{% endblock %}